@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter:wght@400;600&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	color: $text-color;
	font-family: $font-main;
	text-wrap: balance;
}

.logo {
	font-size: 28px;
	text-transform: capitalize;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.28px;
	color: #fff !important; 
}

img {
	display: block;
}

a {
	color: $accent;
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}

.totop {
	width: 45px;
	height: 45px;
	background-color: $accent;
	color: $header-text-color;
	display: none;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 98;
	opacity: 0.9;
}