.search-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	max-width: 344px;
	height: 56px;
	padding: 8px 8px 8px 20px;
	border-radius: 42px;
	border-width: 0.86px;
	border: 0.862px solid rgba(255, 255, 255, 0.6);
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(4px);
}

.search-form__input {
	flex-grow: 1;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 150%;	

	&::placeholder {
		color: #ffffff;
		font-weight: 400;
	}
}

.search-form__btn {
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: 24px;
	padding: 11px;
	background: $accent;
}